doctype
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/main.css')
    link(rel='stylesheet', href='/stylesheets/grid.css')
    link(href="https://fonts.googleapis.com/css?family=Roboto+Slab" rel="stylesheet")

  body
    include nav.jade

    div.content
      div.wrapper#jstree
        h1.subgum Error!
